<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stimulator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Subprocessor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>simul.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>speed_test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6536E90426B7774A00D43568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655FCF622637D870004981A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655FCF702637D8FB004981A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>659CC7DC2624BB6200ED7E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>659CC7F22624BB6400ED7E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>659CC7FD2624BB6400ED7E15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65E0047726D87DB8009A5AE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
